################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/fornax/.vs
/fornax/bin/Debug/net8.0
/fornax/obj
/Fornax.Test/bin/Debug/net8.0
/Fornax.Test/obj
